body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "IBM Plex Mono", monospace;
}

.numeric {
  font-family: "IBM Plex Mono", monospace;
}

.icon {
  padding-right: 1%;
}
